@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  body{
    background-color: #fbfd74;
  }
header{}

main{}

.principal-product{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

h1{
    font-weight: 400px;
    font-size: 40px;
    margin-top: 70px;
}

.img-product{
    width: 400px ;
    margin-top: 130px;
    margin-left: 40px;
    

}

.data-product{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
   
    
}

 .buy-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
 }

 .description-product{
    display: flex;
    justify-content:center;
       
 }

 .Products-description{
    width: 33%;
    
   
  }


  .buy-button:hover{
    background-color: rgb(90, 231, 137);
    cursor: pointer   

  }

  .buy-button{
    border-radius: 30px;
    width: 200px;
  }

  .button{
    border-radius: 30px;
  }

  


  @media (max-width: 480px) {
    .principal-product {
      display: flex;
      flex-direction: column;

    }
    
  }

  .contenido-completo{
    background-color: #f37730;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 30px;
    border-radius: 30px;  
    
  }

  .navegacion{
    display: flex;
    flex-direction: row;
    gap: 50px;
    

  }


footer{}